.section-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 8vh auto 15px auto;
  padding-left: 35px;
  width: 100%;
  max-width: 1200px;
  height: fit-content;
  color: var(--Primary);
  font-size: 40px;
  font-weight: 600;
}

/* Media queries */

@media screen and (max-width: 600px) {
  .section-title {
    font-size: 35px;
  }
}
