.section-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 5vh 0 15px 35px;
  /* padding-left: 35px; */
  width: fit-content;
  /* max-width: 500px; */
  height: fit-content;
  color: var(--Primary);
  font-size: 40px;
  font-weight: 600;
  /* outline: 2px solid red; */
}

/*  utility classes */

.alt-margin {
  margin: 3vh 0 15px 35px;
}

.alt-padding {
  padding-left: 0px;
  padding-right: 0px;
}

/* Media queries */

@media screen and (max-width: 600px) {
  .section-title {
    font-size: 35px;
  }

  .alt-margin {
    margin: 1vh 0 15px 35px;
  }
}

@media screen and (max-width: 500px) {
  .alt-margin {
    margin: -1vh 0 15px 35px;
  }
}
