.hero-wrapper,
.hero-btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-wrapper {
  margin: -30px auto;
  width: 100vw;
  height: fit-content;
  /* outline: 2px solid white; */

  .heading,
  .subheading {
    margin: 0;
    padding: 0;
    height: auto;
  }

  .heading {
    width: 100%;
    font-size: 15vw;
    font-weight: 700;
    letter-spacing: -8px;
    text-transform: uppercase;
  }

  .subheading {
    margin: -20px 0 0 0;
    font-size: 3.5vw;
    font-weight: 600;
    line-height: 110%;
    /* outline: 2px solid red; */
  }

  .hero-btn-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 65%;
    max-width: 850px;
    /* outline: 2px solid pink; */
  }
}

.highlight {
  background: -webkit-linear-gradient(0deg, #7ad4b0, #4363e6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/** Media queries */

@media screen and (max-width: 850px) {
  .hero-wrapper {
    .subheading {
      font-size: 3.7vw;
      /* outline: 2px solid red; */
    }
  }
}

@media screen and (max-width: 700px) {
  .hero-wrapper {
    .heading {
      letter-spacing: -5px;
    }
  }
}

@media screen and (max-width: 600px) {
  .hero-wrapper {
    margin: -20px 0;

    .subheading {
      font-size: 4vw;
      /* outline: 2px solid red; */
    }
  }
}

@media screen and (max-width: 635px) {
  .hero-wrapper {
    .hero-btn-wrapper {
      .link-btn {
        margin: 10px 5px;
        padding: 5px 16px;
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 505px) {
  .hero-wrapper {
    .hero-btn-wrapper {
      .link-btn {
        margin: 10px 5px;
        padding: 5px 12px;
        font-size: 18px;
      }
    }
  }
}
