.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 30px;
  width: 100%;
  max-width: 1200px;
  height: fit-content;
  margin: 30px auto 5px auto;
  padding-left: 35px;
  /* outline: 2px solid pink; */
}
