:root {
  /* CSS Variables */

  --Background: #07092b;
  --Primary: #fff;
  --Secondary: #a3a3a3;
  /* create a highlight class with the properties for creating highlighted (blue green) text */
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Background);
  color: var(--Primary);
}

.app-wrapper {
  width: fit-content;
  /* outline: 2px solid rgba(33, 221, 61, 0.819); */

  .project-components-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
