:root {
  /** CSS Variables */

  --Background: #07092b;
  --Primary: #fff;
  --Secondary: #a3a3a3;
}

html {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Background);
  color: var(--Primary);
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* outline: 2px solid rgba(33, 221, 61, 0.819); */

  .project-components-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
  }

  .experience-education-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    height: fit-content;
    /* outline: 2px solid rgb(97, 255, 6); */

    .experience-wrapper,
    .education-wrapper {
      margin-bottom: 35px;
      width: 50%;
      max-width: 550px;
      height: fit-content;
      /* outline: 2px solid rgb(242, 255, 0); */
    }

    .data-card-components-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 15px;
      padding: 0;
      width: 80%;
      height: fit-content;
      /* outline: 2px solid rgb(0, 255, 229); */
    }
  }
}

/** Media queries */

@media screen and (max-width: 800px) {
  .app-wrapper {
    .experience-education-wrapper {
      .data-card-components-wrapper {
        gap: 35px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .app-wrapper {
    .experience-education-wrapper {
      .data-card-components-wrapper {
        gap: 60px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .app-wrapper {
    .experience-education-wrapper {
      flex-direction: column;
      /* outline: 2px solid rgb(97, 255, 6); */

      .experience-wrapper,
      .education-wrapper {
        width: 90%;
        height: fit-content;
        /* outline: 2px solid rgb(242, 255, 0); */
      }

      .data-card-components-wrapper {
        gap: 20px;
        /* outline: 2px solid rgb(0, 255, 229); */
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .app-wrapper {
    .experience-education-wrapper {
      .data-card-components-wrapper {
        gap: 40px;
      }
    }
  }
}
