:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  margin: 0;
  width: fit-content;
  min-width: 320px;
  min-height: 100vh;
}
